.sticky {
  border: 1px solid black;
  border-left: 3px solid black;
  padding: 2px;
  text-transform: uppercase;
  background-color: white;
  /* height: 15px; */
  min-width: 30px;
  max-width: 200px;
  overflow: hidden;
  cursor: pointer;
}

.sticky:hover {
  background-color: orange;
}

.sticky.cur {
   font-weight: bold;
   font-size: 125%;
}

.substicky {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 20;
  color: aqua;
  cursor: pointer;
}
.substicky:hover {
  color: blue;
  text-decoration: underline;
}